{{define "footer"}}
<style>
    .footer {
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
</style>
<!-- Scrollable Footer -->
<div class="px-4 py-3 border-top text-center bg-white">
    <div class="card-footer text-body-secondary"> 
        <span>© 2018 - 2025, B Ghanekar</span><br>
        <span class="text-danger">Especially developed for Mobile and Tab Screen</span>
    </div>
</div>
{{end}}